:root 
{
    --cor-principal: #A50044;
    --cor-secundaria: #004D98;
}

img 
{
    transition: transform 0.3s ease-in-out;
}

img:hover
{
    transform: scale(1.05);
}

.container-mestre 
{
    background: rgba(18, 7, 60, 0.297); 
    padding: 30px;                       
    margin: 40px auto;                 
    width: fit-content;
    border-radius: 10px;
    border: 1px solid var(--cor-principal);
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 10; 
    position: relative;
}

.icone-mestre 
{
    width: 90px;
    height: 90px;
    border-radius: 8px;
    object-fit: cover;
    align-self: flex-start;
}

.texto-mestre h3 
{
    margin: 0;
    font-size: 1.3rem;
    color: var(--cor-secundaria);
}

.texto-mestre p 
{
    margin: 5px 0 0;
    font-size: 1rem;
}

h1
{
    color: var(--cor-secundaria);
}

h2
{
    color: var(--cor-principal);
}

.valor-status 
{
    color: var(--cor-secundaria);
    font-weight: bold;
}