

.cronologia 
{
    position: relative;
    padding: 20px 0;
    max-width: 1000px;
    margin: 40px auto;
}


.cronologia::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: var(--cor-secundaria);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
}


.item 
{
    padding: 10px 40px;
    position: relative;
    width: 50%;
    box-sizing: border-box;
}


.item:nth-child(odd) 
{
    left: 0;
    text-align: right; 
}


.item:nth-child(even) 
{
    left: 50%;
    text-align: left; 
}


.data 
{
    background-color: var(--cor-principal);
    text-shadow: 1px 1px 0 #040404;
    color: rgb(252, 252, 252);
    padding: 8px 15px;
    position: absolute;
    border-radius: 6px;
    top: 25px;
    z-index: 10;
    font-family: var(--fonte-titulo, sans-serif);
    font-weight: 700;
}


.item:nth-child(odd) .data 
{
    right: -50px; 
}

.item:nth-child(even) .data 
{
    left: -50px; 
}


.conteudo 
{
    padding: 20px;
  
}

.conteudo h3 
{
    color: var(--cor-principal);
    margin-bottom: 10px;
    margin-top: 0;
}

body
{
    color: rgb(255, 255, 255);
    background-color: #0c102e;
}