.slider-container 
{
    width: 100%;
    max-width: 1200px; 
    overflow: hidden; 
    margin: 40px auto; 
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent); 
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}


.grelha-equipas 
{
    display: flex; 
    width: max-content; 
    gap: 40px;
    animation: slide 20s linear infinite; 
}


@keyframes slide 
{
    0% 
    {
        transform: translateX(0);
    }
    100% 
    {
        transform: translateX(calc(-50% - 20px)); 
    }
}


.grelha-equipas:hover 
{
    animation-play-state: paused;
}

.cartao-equipa 
{
    position: relative;
    padding: 40px;
    text-align: center;
    display: block;
    text-decoration: none; 
    color: inherit;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s; 
    flex: 0 0 350px; 
    background-color: rgba(255, 255, 255, 0.05); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
}


.cartao-equipa:hover 
{
    transform: scale(1.05); 
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.1); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6), 0 0 20px rgba(255, 255, 255, 0.2);
}

.logo-equipa {
    width: 90px; 
    height: 90px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid var(--cor-secundaria); 
    object-fit: cover; 
}

.nome-equipa 
{
    font-size: 2em; 
    margin-bottom: 10px;
    font-family: var(--fonte-titulo, sans-serif);
}

body 
{
    background-color: #0c102e;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
}