
.grelha-equipas 
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 40px;
    margin-top: 40px;
}

.cartao-equipa 
{
    position: relative;
    padding: 40px;
    text-align: center;
    display: block;
    text-decoration: none; 
    background-color: transparent;
    color: inherit;
    transition: transform 0.2s; 
}


.cartao-equipa:hover 
{
    transform: scale(1.02);
}

.logo-equipa 
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 2px solid var(--cor-secundaria);
    object-fit: cover; 
}

.nome-equipa 
{
    font-size: 1.8em;
    margin-bottom: 10px;
    font-family: var(--fonte-titulo, sans-serif);
}

body
{
    background-color: #0c102e;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000,1px  1px 0 #000;
}