.grelha-jogadores 
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
   
    margin-top: 40px;
}

.cartao-jogador 
{
    border-radius: 8px;
    position: relative;
    border: 10px solid rgb(11, 11, 71);
    padding: 20px;
    background-color: #2c2c2c;
    transition: transform 0.3s ease-in-out;
}

.cartao-jogador:hover 
{
    transform: scale(1.05);
}

.etiqueta-rank 
{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--cor-secundaria);
    color: var(--cor-fundo);
    padding: 5px 15px;
    font-family: var(--fonte-titulo, sans-serif);
    font-weight: 700;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}

.img-jogador 
{
    width: 55%;
    max-width: 200px; 
    height: auto;
    display: block;
    margin: 10px auto 20px auto;
    border: 3px solid var(--cor-principal);
    border-radius: 50%;
    padding: 1px 1px 1px;
}

.valor-atual 
{
    color: var(--cor-suporte);
    margin-bottom: 10px;
    font-weight: bold;
}

.arma 
{
    color: var(--cor-secundaria);
    font-weight: bold;
    margin-bottom: 20px;
}

.titulo-arvore-habilidades 
{
    color: var(--cor-secundaria);
    margin-top: 25px;
    font-size: 1.1em;
    border-bottom: 1px dashed var(--cor-suporte);
    padding-bottom: 5px;
}

.item-habilidade 
{
    margin-bottom: 10px;
}

.item-habilidade small 
{
    color: var(--cor-principal);
    font-weight: bold;
    display: block;
    margin-bottom: 3px;
    font-family: var(--fonte-titulo, sans-serif);
}

.barra-habilidade 
{
    background-color: var(--cor-fundo-card, #555);
    height: 8px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.barra-habilidade::after 
{
    content: '';
    position: absolute;
    height: 100%;
    background-color: var(--cor-principal); 
    border-radius: 4px;
    left: 0;
}


.stats-remate::after { width: 85%; background-color: var(--cor-secundaria); } 
.stats-visao::after { width: 98%; background-color: var(--cor-principal); } 
.stats-drible::after { width: 70%; }
.stats-defesa::after { width: 50%; }
.stats-ego::after { width: 95%; background-color: #2d012c; } 


.rin-remate::after { width: 95%; background-color: var(--cor-principal); } 
.rin-visao::after { width: 88%; background-color: var(--cor-secundaria); } 
.rin-drible::after { width: 80%; }
.rin-defesa::after { width: 65%; }
.rin-ego::after { width: 90%; background-color: #c90036; }

body
{
    background-color: #0c102e;
    text-shadow: -1px -1px 0 #000, 0px  1px 0 #000, -1px  1px 0 #000,1px  1px 1px #180c4a;
}

