:root 
{
    --cor-principal: #1A4E95;
    --cor-secundaria: #D9233B;
}

img 
{
    transform: scale(1.05);
}

img:hover
{
    transform: scale(1.05);
}

.container-mestre 
{
    background: rgba(18, 7, 60, 0.297); 
    padding: 30px;                       
    margin: 40px auto;                 
    width: fit-content;
    border-radius: 10px;
    border: 1px solid var(--cor-principal);
    display: flex;
    align-items: center;
    z-index: 10; 
    position: relative;
    gap: 35px;
}

.icone-mestre 
{
    width: 10%;
    height: 10%;
    border-radius: 5px;
    object-fit: cover;
    align-self: flex-start;
    border: var(--cor-secundaria) solid;

}


.texto-mestre h3 
{
    margin: 0;
    font-size: 1.3rem;
    color: var(--cor-secundaria);
}

.texto-mestre p 
{
    margin: 5px 0 0;
    font-size: 1rem;
}

h1
{
    color: var(--cor-secundaria);
}

h2
{
    color: var(--cor-principal);
}

.valor-status 
{
    color: var(--cor-secundaria);
    font-weight: bold;
}
