.regras-grid 
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 40px;
    overflow: visible;
}

.regra-card 
{
    display: block;
    background: #040624e6;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    transition: transform 220ms ease, box-shadow 220ms ease;
    transform-origin: center center;
    will-change: transform;
    backface-visibility: hidden;
    overflow: visible;
    border: #fe326c solid 2px;
}


.regra-card:hover 
{
    transform: scale(1.05) translateZ(0);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    z-index: 5;
}

.regra-card h3 
{
    color: #fe326c;
    margin-bottom: 15px;
}

.regra-card p 
{
    color: #ffffff;
    line-height: 1.5;
    margin: 0;
}
body 
{
    background-color: var(--cor-fundo);
    background-image: url(../imagens/background1.png);
    background-position: 100%;
    color: var(--cor-texto);
    background-repeat: no-repeat;
    font-family: var(--fonte-corpo);
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-size:cover;
    background-attachment: fixed;
}

h1
{
    color: #fe326c
}