
.accordion-container {
    max-width: 800px;
    margin: 40px auto;
}

.accordion-item {
    margin-bottom: 15px;
    border: 1px solid var(--cor-fundo-card);
    border-left: 5px solid var(--cor-principal);
}

.accordion-header {
    background-color: var(--cor-fundo-card);
    color: var(--cor-texto);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.4s;
    font-family: var(--fonte-titulo);
    font-size: 1.2em;
}

.accordion-header:hover {
    background-color: #2e2e2e;
}

.accordion-header.active {
    background-color: var(--cor-principal);
    color: var(--cor-fundo);
}

.accordion-content {
    padding: 0 18px;
    background-color: #1a1a1a;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.accordion-content p {
    padding: 15px 0;
    color: var(--cor-suporte);
}